ul.nav {
  height: 64px;
}

ul.nav li.cell {
  line-height: 32px;
  padding: 16px 0 !important;
}

ul.nav li a {
  display: block;
  color: #666;
  border-right: 1px solid #ccc;
}

ul.nav li.active a {
  color: lightseagreen;
}

ul.nav li:last-of-type a {
  border-right: none;
}
